<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="Healthify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthify">
        <activity
            android:name="com.example.Healthify.AddNewFoodPlan"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.SelectedPage"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.SelectedPlanDetails"
            android:exported="false" />

        <activity
            android:name="com.example.Healthify.DeletePage"
            android:exported="false" />

        <activity
            android:name="com.example.Healthify.DeletePageDetails"
            android:exported="false" />

        <activity
            android:name="com.example.Healthify.FoodDetailsActivity"
            android:exported="false" />

        <activity
            android:name="com.example.Healthify.FoodPlanSelectnigList"
            android:exported="false" />

        <activity
            android:name="com.example.Healthify.Timers"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.Reminder"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.BMICalculator"
            android:exported="false" />
        <activity
            android:name=".Setpassword"
            android:exported="false" />
        <activity
            android:name=".Setage"
            android:exported="false" />
        <activity
            android:name=".Setcontact"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.Usersetting"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.Home"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.Login"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.Signup"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.WorkoutDetails"
            android:exported="false" />
        <activity
            android:name="com.example.Healthify.WorkoutMain"
            android:exported="false"
            android:launchMode="singleInstance"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.example.Healthify.WorkoutMainAct2"
            android:exported="false" />
        <receiver android:name="com.example.Healthify.Notification"
            android:enabled="true"/>
        <service android:name="com.example.Healthify.TimerFunc"/>
        <activity
            android:name="com.example.Healthify.FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>